<div id="corpo">
    <div id="container">
        <div id="header">
            <img src="../../assets/logo.png" id="icone">
            <p id="logo_txt">Monitoria HAS</p>
            <ul id="header_list">
                <li class="option">Lista de Monitores<div class="linha"></div></li>
                <li class="option">Informações das Disciplinas<div class="linha"></div></li>
                <li class="option">Saiba mais<div class="linha"></div></li>
            </ul>
            <a routerLink="/cadastro"><div id="btn_cadastro"></div></a>
        </div>
    </div>
    <table>
        <thead id="header_lista">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Disciplinas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Enzo Enrico</td>
                <td>(11)957842159</td>
                <td>enrico12@gmail.com</td>
                <td>Matemática, Português, Física e Inglês</td>
                <td><div class="alterar_botao"><img src="../../assets/pencil-square.svg" class="icone_lista"></div><div class="dispo_botao"><img src="../../assets/stopwatch.svg" class="icone_lista"></div></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Enzo Enrico</td>
                <td>(11)957842159</td>
                <td>enrico12@gmail.com</td>
                <td>Matemática, Português, Física e Inglês</td>
                <td><div class="alterar_botao"><img src="../../assets/pencil-square.svg" class="icone_lista"></div><div class="dispo_botao"><img src="../../assets/stopwatch.svg" class="icone_lista"></div></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Enzo Enrico</td>
                <td>(11)957842159</td>
                <td>enrico12@gmail.com</td>
                <td>Matemática, Português, Física e Inglês</td>
                <td><div class="alterar_botao"><img src="../../assets/pencil-square.svg" class="icone_lista"></div><div class="dispo_botao"><img src="../../assets/stopwatch.svg" class="icone_lista"></div></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Enzo Enrico</td>
                <td>(11)957842159</td>
                <td>enrico12@gmail.com</td>
                <td>Matemática, Português, Física e Inglês</td>
                <td><div class="alterar_botao"><img src="../../assets/pencil-square.svg" class="icone_lista"></div><div class="dispo_botao"><img src="../../assets/stopwatch.svg" class="icone_lista"></div></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Enzo Enrico</td>
                <td>(11)957842159</td>
                <td>enrico12@gmail.com</td>
                <td>Português</td>
                <td><div class="alterar_botao"><img src="../../assets/pencil-square.svg" class="icone_lista"></div><div class="dispo_botao"><img src="../../assets/stopwatch.svg" class="icone_lista"></div></td>
            </tr>
        </tbody>
    </table>
    <div id="rodape">
        <div>
            <p>Matheus Camargo</p>
            <p>Rm: 221019</p>
            <p>Instagram: matheus.zgld</p>
            <p>Twitter: zgld_</p>
        </div>
        <div id="linha_vertical"></div>
        <div>
            <p>Enzo Enrico</p>
            <p>Rm: 221673</p>
            <p>Instagram: lnox12</p>
            <p>Twitter: Chulepaf</p>
        </div>
    </div>
</div>