#corpo{
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#container{
    width: 100%;
    height: 35vw;
    background-image: url('../../../assets/fundo_lista.png');
    background-size: 100% 100%;
}
#header{
    width: 100%;
    height: 10vh;   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#header_list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.option{
    font-size: 1.3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 1vw;
    margin-left: 1vw;
}
.linha{
    width: 30%;
    background-color: rgb(60, 59, 59);
    height: 0.3vh;
    transition: 0.4s ease-in-out;
    margin-top: 0.2vw;
}
.option:hover .linha{
    width: 100%;
    background-color: black;
}
#icone{
    height: 50%;
    margin-left: 1vw;
    margin-bottom: 0.5vw;
}
#logo_txt{
    font-size: 2vw;
    margin-left: 0.3vw;
    margin-right: 16vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#btn_cadastro{
    height: 8vh;
    width: 4.5vw;
    background-image: url('../../../assets/people-icon-sign-symbol-design-free-png.webp');
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: 0.4s ease-in-out;
    margin-left: 20vw;
}
#btn_cadastro:hover{
    background-color: white;
}
tr{
    height: 3vw;
}
th{
    width: 5vw;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table{
    width: 95%;
    border: 2px solid black;
}
td{
    font-size: 1.2vw;
    align-items: center;
    text-align: center;
    height: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: 10vw;
}
td:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.alterar_botao, .dispo_botao{
    height: 4.5vh;
    width: 45%;
    background-color: #5DF090;
    margin-left: 0%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.dispo_botao{
    background-color: #F0625D;
    margin-left: 20%;
}
.icone_lista{
    height: 80%;
}
#rodape{
    width: 100%;
    height: 200px;
    margin-top: 2vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    color:white;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#linha_vertical{
    height: 90%;
    width: 0.1vw;
    background-color: white;
    margin-left: 3vw;
    margin-right: 3vw;
}